.reveal .slides > section.cover-slide > div.left-half {
  width: 50%;
  float: left;
  position: relative;
  left: -2%;
}

.reveal .slides > section.cover-slide > div.left-half > h1 {
  color: black;
  font-size: 1.4em;
}

.reveal .slides > section.cover-slide > div.left-half > h3 {
  color: black;
  font-size: 0.7em;
}

.reveal .backgrounds .slide-background {
  filter: opacity(.15);
}

.reveal .backgrounds .slide-background[data-background-transition="fullcolor"] {
  filter: none;
}

html,body,.reveal li,.reveal p {
  line-height: 1.2;
}
